@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@400;500;600&family=Lobster&family=Montserrat&family=Sansita+Swashed:wght@400;700&display=swap');

body {
  font-family: sans-serif;
}

.material-icons {
  font-size: 3em !important;
}

header {
  background: white;
}

h1 {
  font-size: 3em;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
}

#illustrations-menu h1 {
  margin-top: 100px;
}

h2 {
  font-size: 3em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.2em;
}

li {
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
}

.lien {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
}

span {
  font-weight: bold;
  font-size: 1.5em;
}

.text-contact p {
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.project-feature p {
  padding-bottom: 20px;
  color: grey;
}

.illustrations-content h2 {
  padding-top: 20px;
}

.popup h2 {
  text-align: center;
}

.voir-plus:hover{
  color: blue;
}

.voir-plus{
  font-weight: bold;
  text-decoration: underline;
}
